################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DrugaVaja/.vs/DrugaVaja
/Gostilne/.vs
/KalkulatorOcenv0.1/.vs
/Kalkulatorv0.2/.vs
/Spremenljivke/.vs
/Vnosi/.vs
/Zanke/.vs/Zanke
